In [1]:
from analysis_helpers.intercept_helpers import process_parquet_dir
import pandas as pd

In [2]:
data_path = "/mnt/chaseproject/uva/kd5eyn/intercept_data/2022-09-01_2022-09-30/"
df = process_parquet_dir(data_path)

/home/ubuntu/GitLab/ssl_interception/notebooks/analysis_notebooks/analysis_helpers/intercept_helpers.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["does_ca_match"] = df.apply(lambda row: does_ca_match(

In [3]:
unique_issuers = df["issuer_O"].unique()
for issuer in unique_issuers:
    print(issuer)

Temporary CA a0305fb9-1d21-4142-9f97-e1c6efdab8f
Dehuinet
Micron Technologies
COMODO CA Limited
VK
Kabam Games Inc.
N=cert-manager.loca
N=5jANS_HoC46Ta_5NwR_7e4ao
Xero
PrivacySearch Ltd
GeoTrust
N=1Hx32o2d
N=1sAL 3ul 5lja1WF 1V,OU=FPKI,OU=U.S. Government,C=U
GlobalSign nv-sa
N=6Fk1JiB 1kKtVMy 11d
GoDaddy.com
Soluciones Corporativas IP
N=2hsqsq-2XqsqkB
CloudFlare
Acme C
GeoTrust Inc.
N=5Gkzg038J36 2LJjWLD5 57JOJKKD
L3 Harris Technologies
N=3Q4Dsb9
N=6vaMXDqR
SECOM Trust Systems CO.
N=6Mi7ZTi
N=4K2VsoWa
Northrop Grumman Corporation
N=67FxPju
Opera Software ASA
MI_Uni_Koel
N=3g-25UPF19
N=7Fw6H 2cMYVTs
N=3x1M07 1V: 2HL4gm.unCmGq.6o
N=3cN-6csb-4fkbjMa-1V,DC=na,DC=fti,DC=loca
Global Digital Cybersecurity Authority Co.
N=2fq-6Nr2XkT,DC=ad,DC=loca
Government of Korea
Thawte Consulting cc
Cloudflare
FNMT-RCM
Rede Nacional de Ensino e Pesquisa - RNP
N=websync.cavaliers.DVSport.co
N=2FaCoTL 4dA 1
snap-cloud
N=uGPnM2n4wJj 5EbvZ8tQOb 1V,DC=healthsouth,DC=insidehrc,DC=co
TBS INTERNET
DHIMYOTIS
nQualifier=6crrflRY-1f5g-2aYz-1eg6-7kpF0Kd05Cwg,CN=1msQj6pBELU 6Nwi 1

Leido
GSM Associatio
nQualifier=1xKEXgaI-4tSK-4PRz-52RJ-227bMeyOuNLI,CN=1msQj6pBELU 6Nwi 1
N=13MPnX0jgs,DC=despreinte,DC=loca
Verizon Enterprise Solutions
BlackBerry Limited
Indus
N=16AWS-5B05id
XM
Sectigo Limited
Peloton Interactive Inc
N=1HYakN5S4zjWaE
N=5a8uEGx 73oFVybUf 5lja1WF 1V
N=www.k5i4hmmlssxfyqtcy3.co
Nintendo of America
Standard Chartered Bank
N=Mail.Ru Development Intermediate Certificate N6 -PA
N=7Z8yTu
N=1
Chunghwa Telecom Co.
Bad Server Certificate [invalid server certificate]
Palo-Alto-Networks-Inc.
The USERTRUST Network
CertCloud Pte. Ltd.
N=4tWHEVNjev 5EbvZ8tQOb 1mfpSQi,DC=bbbb,DC=ne

**Xero**

* Xero is an accounting software firm - https://www.xero.com/us/

In [5]:
pd.set_option("colwidth", None)
df[df["issuer_O"] == "Xero"]

,index,domain,issuer_O,conn_count,historical_ca
38,97,app.yinxiang.com,Xero,1,"[""Let's Encrypt (2022-08-19 - 2022-11-17)"", '""TrustAsia Technologies, Inc."" (2021-11-11 - 2022-11-10)', '""DNSPod, Inc."" (2022-11-01 - 2023-11-01)', 'DigiCert Inc (2018-08-09 - 2019-10-16)', 'COMODO CA Limited (2012-05-02 - 2014-05-02)', 'Symantec Corporation (2014-11-07 - 2017-04-24)', '""VeriSign, Inc."" (2012-06-14 - 2017-06-13)']"

**Soluciones Corporativas IP**

In [6]:
df[df["issuer_O"] == "Soluciones Corporativas IP"]

,index,domain,issuer_O,conn_count,historical_ca
66,111,humanox.com,Soluciones Corporativas IP,1,"['Soluciones Corporativas IP, SL (2019-12-02 00:00:00 - 2020-12-01 23:59:59)', 'DigiCert Inc (2019-01-10 00:00:00 - 2021-01-14 12:00:00)']"

**SECOM Trust Systems CO.**

In [7]:
df[df["issuer_O"] == "SECOM Trust Systems CO."]

,index,domain,issuer_O,conn_count,historical_ca
144,15,bioconductor.riken.jp,SECOM Trust Systems CO.,2,"['""SECOM Trust Systems CO.,LTD."" (2022-04-13 - 2023-05-14)', 'National Institute of Informatics (2015-07-27 - 2017-08-26)']"

**MI_Uni_Koel**

* Likely self-signed certificate

In [8]:
df[df["issuer_O"] == "MI_Uni_Koel"]

,index,domain,issuer_O,conn_count,historical_ca
209,464,thales.mi.uni-koeln.de,MI_Uni_Koel,14,Let's Encrypt (2016-12-18 - 2017-03-18)
441,494,thales.mi.uni-koeln.de,MI_Uni_Koel,6,Let's Encrypt (2016-12-18 - 2017-03-18)
485,457,thales.mi.uni-koeln.de,MI_Uni_Koel,6,Let's Encrypt (2016-12-18 - 2017-03-18)
691,549,thales.mi.uni-koeln.de,MI_Uni_Koel,5,Let's Encrypt (2016-12-18 - 2017-03-18)

**Global Digital Cybersecurity Authority Co.**

In [9]:
df[df["issuer_O"] == "Global Digital Cybersecurity Authority Co."]

,index,domain,issuer_O,conn_count,historical_ca
260,18,mb.sczwfw.gov.cn,Global Digital Cybersecurity Authority Co.,2,"""Global Digital Cybersecurity Authority Co., Ltd."" (2022-06-22 - 2023-06-22)"

**Government of Korea**

In [10]:
df[df["issuer_O"] == "Government of Korea"]

,index,domain,issuer_O,conn_count,historical_ca
280,139,web.donga.ac.kr,Government of Korea,6,"['Sectigo Limited (2022-08-24 - 2023-09-23)', 'COMODO CA Limited (2018-09-03 - 2020-09-02)', 'Government of Korea (2012-09-14 - 2014-12-14)']"

**Rede Nacional de Ensino e Pesquisa - RNP**

In [11]:
df[df["issuer_O"] == "Rede Nacional de Ensino e Pesquisa - RNP"]

,index,domain,issuer_O,conn_count,historical_ca
346,75,www.visgraf.impa.br,Rede Nacional de Ensino e Pesquisa - RNP,1,"['GlobalSign nv-sa (2020-07-08 - 2022-07-09)', 'Rede Nacional de Ensino e Pesquisa - RNP (2017-09-01 - 2020-09-01)']"

**TBS INTERNET**

In [12]:
df[df["issuer_O"] == "TBS INTERNET"]

,index,domain,issuer_O,conn_count,historical_ca
403,12,www.neuhauser.fr,TBS INTERNET,1,TBS INTERNET (2022-02-10 - 2023-03-13)

**DHIMYOTIS**

In [13]:
df[df["issuer_O"] == "DHIMYOTIS"]

,index,domain,issuer_O,conn_count,historical_ca
433,362,accueil.banque-france.fr,DHIMYOTIS,18,DHIMYOTIS (2022-07-12 - 2023-07-12)
435,379,sso.banque-france.fr,DHIMYOTIS,4,DHIMYOTIS (2018-11-09 16:10:19 - 2020-11-08 16:10:19)

**Verizon Enterprise Solutions**
* Verizon Enterprise Solutions is the branch of Verizon that provides wireless networks for businesses

In [14]:
df[df["issuer_O"] == "Verizon Enterprise Solutions"]

,index,domain,issuer_O,conn_count,historical_ca
571,10,emirates.com,Verizon Enterprise Solutions,4,DigiCert Inc (2020-07-29 00:00:00 - 2022-10-28 12:00:00)
715,9,emirates.com,Verizon Enterprise Solutions,2,DigiCert Inc (2020-07-29 00:00:00 - 2022-10-28 12:00:00)
847,3,emirates.com,Verizon Enterprise Solutions,17,DigiCert Inc (2020-07-29 00:00:00 - 2022-10-28 12:00:00)

**Standard Chartered Bank**
* British multinational Banking Group
* Could be a Standard Chartered Bank employee with SSL Interception Software on their machine

In [15]:
df[df["issuer_O"] == "Standard Chartered Bank"]

,index,domain,issuer_O,conn_count,historical_ca
791,5,login.windows.net,Standard Chartered Bank,3,DigiCert Inc (2023-02-19 00:00:00 - 2024-02-19 23:59:59)
792,9,arc.msn.com,Standard Chartered Bank,2,Microsoft Corporation (2022-09-15 - 2023-09-10)
793,13,standardcharteredbank-my.sharepoint.com,Standard Chartered Bank,1,DigiCert Inc (2022-06-08 00:00:00 - 2023-06-07 23:59:59)
797,25,login.microsoftonline.com,Standard Chartered Bank,15,DigiCert Inc (2023-02-19 00:00:00 - 2024-02-19 23:59:59)
798,27,support.content.office.net,Standard Chartered Bank,1,Microsoft Corporation (2022-08-03 - 2023-07-29)
799,31,onedriveclubprodbn20004.blob.core.windows.net,Standard Chartered Bank,1,Microsoft Corporation (2022-08-18 14:04:16 - 2023-08-13 14:04:16)
800,34,clients.config.office.net,Standard Chartered Bank,1,"['Microsoft Corporation (2022-07-22 - 2023-07-17)', 'DigiCert Inc (2022-09-01 - 2023-08-31)']"
801,35,loki.delve.office.com,Standard Chartered Bank,1,"['Microsoft Corporation (2022-08-31 - 2023-08-26)', 'DigiCert Inc (2022-02-04 - 2023-02-03)', 'GlobalSign nv-sa (2019-08-05 - 2021-08-05)']"
802,45,dataservice.protection.outlook.com,Standard Chartered Bank,1,DigiCert Inc (2022-06-02 00:00:00 - 2023-06-02 23:59:59)
803,47,apc01.dataservice.protection.outlook.com,Standard Chartered Bank,5,"['DigiCert Inc (2022-06-02 00:00:00 - 2023-06-02 23:59:59)', 'GlobalSign nv-sa (2019-10-10 17:21:59 - 2021-10-10 17:21:59)', 'Microsoft Corporation (2018-01-06 14:28:38 - 2020-01-06 14:28:38)']"
804,50,incidents.diagnostics.office.com,Standard Chartered Bank,2,DigiCert Inc (2022-04-28 00:00:00 - 2023-04-28 23:59:59)
807,73,uci.cdn.office.net,Standard Chartered Bank,3,Microsoft Corporation (2022-08-22 - 2023-08-17)
808,79,substrate.office.com,Standard Chartered Bank,1,"['DigiCert Inc (2022-07-26 - 2023-07-25)', 'Microsoft Corporation (2022-09-15 - 2023-09-15)', 'GlobalSign nv-sa (2016-05-20 - 2017-05-21)']"
809,80,ecs.office.com,Standard Chartered Bank,1,"['Microsoft Corporation (2022-07-31 16:28:59 - 2023-07-26 16:28:59)', 'DigiCert Inc (2022-11-10 00:00:00 - 2023-11-10 23:59:59)']"
810,83,entitlement.diagnostics.office.com,Standard Chartered Bank,2,"['DigiCert Inc (2022-05-12 - 2023-05-12)', 'GlobalSign nv-sa (2020-10-14 - 2021-11-15)', 'Microsoft Corporation (2019-06-13 - 2021-06-13)']"
811,96,apc01.oscs.protection.outlook.com,Standard Chartered Bank,1,"['DigiCert Inc (2022-02-03 00:00:00 - 2023-02-02 23:59:59)', 'GlobalSign nv-sa (2020-01-03 20:26:59 - 2022-01-03 20:26:59)', 'Microsoft Corporation (2018-02-21 18:29:14 - 2020-02-21 18:29:14)']"

**BlackBerry Limited**
* Likely self-signed certificate

In [16]:
df[df["issuer_O"] == "BlackBerry Limited"]

,index,domain,issuer_O,conn_count,historical_ca
572,12,GB.bbsecure.com,BlackBerry Limited,1,DigiCert Inc (2022-06-10 00:00:00 - 2023-07-11 23:59:59)

**XM**

* Likely self-signed certificate - According to SSL Certificate Cheker, the issuer organization matches the organization that the certificate was issued for

In [17]:
df[df["issuer_O"] == "XM"]

,index,domain,issuer_O,conn_count,historical_ca
696,1,s-karlstorz.haxm.co,XM,1,"[""Let's Encrypt (2023-04-23 - 2023-07-22)"", 'Google Trust Services LLC (2023-04-23 - 2023-07-22)']"

**Nintendo of America**
* Self-signed certificate

In [18]:
df[df["issuer_O"] == "Nintendo of America"]

,index,domain,issuer_O,conn_count,historical_ca
781,18,api.fushigi.switch1.pokemon-gl.com,Nintendo of America,2,Let's Encrypt (2018-03-05 - 2018-06-03)

**Chunghwa Telecom Co.**

In [19]:
df[df["issuer_O"] == "Chunghwa Telecom Co."]

,index,domain,issuer_O,conn_count,historical_ca
850,22,es.emome.net,Chunghwa Telecom Co.,1,"Chunghwa Telecom Co., Ltd. (2019-03-07 02:28:07 - 2021-03-07 02:28:07)"